[Desktop Entry]
Encoding=UTF-8
Name=Northern
Comment=Northern P2P Cryptocurrency
Exec=northern-qt %u
Terminal=false
Type=Application
Icon=northern128
MimeType=x-scheme-handler/northern;
Categories=Office;Finance;
Name[en_US]=northern-qt.desktop
