[Unit]
Description=Northern's distributed currency daemon
After=network.target

[Service]
User=northern
Group=northern

Type=forking
PIDFile=/var/lib/northernd/northernd.pid

ExecStart=/usr/bin/northernd -daemon -pid=/var/lib/northernd/northernd.pid \
          -conf=/etc/northern/northern.conf -datadir=/var/lib/northernd

ExecStop=-/usr/bin/northern-cli -conf=/etc/northern/northern.conf \
         -datadir=/var/lib/northernd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
